<!-- views/profile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= location %> 맛집</title>
</head>
<body>
    <header style="border-bottom: 1px solid #aaa; margin-bottom: 10px; padding-bottom: 10px;">
        <nav>
        </nav>
    </header>

    <h1><%= location %> 맛집 목록</h1>
    <ul>
        <% restaurants.forEach(function(restaurant) { %>
            <li><%= restaurant.name %>: <%= restaurant.category %></li>
        <% }); %>
    </ul>
</body>
</html>